# Node modules
/frontend/node_modules/

# Build artifacts
/frontend/build/
/frontend/dist/
/backend/target/
/backend/build/

# Logs
**/*.log

# OS files
.DS_Store
Thumbs.db

# Environment files
**/.env
**/.env.*
**/.gitignore.*

# IDEs
.vscode/
.idea/

# Coverage
/frontend/coverage/
/backend/coverage/

# IntelliJ, VSCode etc.
*.iml
*.ipr
*.iws
*.sw?
